Checks: |
  -*,
  clang-*,
  -clang-diagnostic-unused-command-line-argument,
  readability-*,
  -readability-simplify-boolean-expr,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  misc-*,
  -misc-noexcept*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  modernize-*,
  -modernize-use-equals-delete,
  -modernize-use-trailing-return-type,
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-simplify-boolean-expr.ChainedConditionalReturn
    value: '1'
  - key: readability-simplify-boolean-expr.ChainedConditionalAssignment
    value: '1'
  - key: modernize-use-trailing-return-type
    value: 0

